

<div class="center jumbotron">
      <h1 class="center">Welcome to Instaclone</h1>
      <h2>
        Literally one of the worst photo-sharing, video-linking, social-networking options available. Literally.
      </h2>
      <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Sign in now!", new_user_session_path, class: "btn btn-lg btn-primary" %>
</div>
