

<div class="center jumbotron">
  <% if user_signed_in? %>
    <h1 class="center">Welcome to Instaclone</h1>
    <h2>Literally one of the worst photo-sharing, video-linking, social-networking options available. Literally.</h2>
</div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4"><h1>Recent Posts</h1>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <% @posts.each do |post| %>
      <div class="well well-lg">
        <ul>
          <li class="post-info"><h3><%= post.caption %></h3></li>
          <li class="post-info"><%= image_tag post.picture.url(:medium) %></li>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="col-md-2">
    </div>
    </div>
    <% else %>
      <div class="center jumbotron">
        <h1 class="center">Welcome to Instaclone</h1>
        <h2>Literally one of the worst photo-sharing, video-linking, social-networking options available. Literally.</h2>

        <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
        <%= link_to "Sign in now!", new_user_session_path, class: "btn btn-lg btn-primary" %>
    <% end %>
      </div>
    </div>

