    @import 'bootstrap-sprockets';
    @import 'bootstrap';



html {
  overflow-y: scroll;
}

body {
  // padding-top: 60px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  line-height: 1.6;
  color: #6f7f90;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}



.stripe {
  display: block;
  height: 200px;
  background-color: black;
  margin-top: 0px;
}

.username {
  float: left;
  font-size: 24px;
  float: left;
  line-height: 30px;
  margin: 0 0 5px;
  padding-left: 140px;
  position: relative;
  z-index: 10;
}

.avatar-pic {
  position: absolute;
  left: 25px;
  bottom: 2px;
  margin: 0;
  padding: 5px 5px;
  background: #fff;
  z-index: 2;
  clear: left;
}

.user-stripe {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 10px 30px 15px
}

.avatar-pic-cont {
  size: 400px x 400px
}


.user-info {
  float: left;
}
